[submodule "ardupilot"]
	path = submodules/ardupilot
	url = git@github.com:ArduPilot/ardupilot.git
[submodule "unified-targets"]
	path = submodules/unified-targets
	url = git@github.com:betaflight/unified-targets.git
[submodule "betaflight"]
	path = submodules/betaflight
	url = git@github.com:betaflight/betaflight.git
