[submodule "ardupilot"]
	path = ardupilot
	url = git@github.com:ArduPilot/ardupilot.git
[submodule "unified-targets"]
	path = unified-targets
	url = git@github.com:betaflight/unified-targets.git
[submodule "betaflight"]
	path = betaflight
	url = git@github.com:betaflight/betaflight.git
